# DataManim_2 (작업 1유형 연습문제)
* https://www.datamanim.com/dataset/03_dataq/typeone.html

In [1]:
import pandas as pd
import numpy as np
# pd.options.display.max_columns = 20
# pd.options.display.max_rows = 60
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 6)

## 1~5 (*3)

In [2]:
# 데이터 출처 :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
# 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
DataUrl1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
data = pd.read_csv(DataUrl1, index_col=0)
display(data)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
...,...,...,...,...,...,...,...,...,...
60396,먹방 전쟁 : 사랑스러War (feat. 401 정육식당),김종국 GYM JONG KOOK,17,1125911,26490,263,1915,UCoe-0EVDJnjlSoPK8ygcGwQ,2021-10-19
60397,＂너.. 광수지?＂ 협상에 거짓말부터 던지는 광수 닮은꼴 김연경 선수 [런닝맨|21...,스브스 예능맛집,24,1741773,14994,304,802,UCnx4Fi4cmkLGDiFfZ311wWw,2021-10-19
60398,ENHYPEN (엔하이픈) 'Tamed-Dashed' Official MV,HYBE LABELS,10,13753485,1784532,9737,195461,UC3IZKseVpdzPSBaWxBxundA,2021-10-19

In [3]:
print("1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)")
print(data.groupby(['channelTitle']).size().sort_values(ascending=False)[:10].index)

print("\n2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라")
print(data.loc[data['dislikes'] > data['likes']].groupby('channelTitle').size().index)

print("\n3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라")
data3 = data[['channelId', 'channelTitle']].drop_duplicates()['channelId'].value_counts()
print(len(data3.loc[data3 > 1]))

print("\n4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?")
data['trending_date2'] = pd.to_datetime(data['trending_date2'])
data4 = data.loc[data['trending_date2'].dt.weekday == 6]
print(data4.groupby('categoryId').size().sort_values().to_frame().index[-1])

print("\n5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라")
display(data.pivot_table(index=data['trending_date2'].dt.weekday, columns='categoryId', aggfunc='size'))

1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)
Index(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       'BANGTANTV', '채널 십오야', '이과장', '총몇명'],
      dtype='object', name='channelTitle')

2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라
Index(['(MUTUBE)와꾸대장봉준', 'ASMR 애정TV', 'Gen.G esports', 'MapleStory_KR',
       'ROAD FIGHTING CHAMPIONSHIP', '나혼자산다 STUDIO', '사나이 김기훈', '양팡 YangPang',
       '오메킴TV', '왜냐맨하우스', '육지담', '철구형 (CHULTUBE)', '하얀트리HayanTree', '핫도그TV'],
      dtype='object', name='channelTitle')

3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라
71

4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
24

5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
trending_date2,,,,,,,,,,,,,,,
0,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
1,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
2,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
5,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
6,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9

## 6~10 (*9)

In [4]:
print("6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)")
data['ratio'] = np.where(data['view_count'] > 0, data['comment_count'] / data['view_count'], np.nan)
print(data.loc[data['ratio'] == data['ratio'].max()]['title'].tolist()[0])

print("\n7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)")
print(data.loc[data['ratio'] > 0].dropna().sort_values(by='ratio', ascending=True)['title'].iloc[0])

print("\n8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)")
data8 = data.copy()
data8['dis/like'] = np.where((data8['likes'] > 0) & (data8['dislikes'] > 0), data8['dislikes'] / data8['likes'], np.nan)
print(data8.loc[data8['dis/like'] == data8['dis/like'].min()]['title'].tolist()[0])

print("\n9. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)")
print(list(data.groupby(['channelId', 'channelTitle'], as_index=False).size().sort_values(by='size', ascending=False)['channelTitle'])[0])

print("\n10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?")
data10 = data.groupby(['title', 'channelId'], as_index=False).size()
print(len(data10.loc[data10['size'] >= 20]))
# print((data[['title','channelId']].value_counts()>=20).sum())

6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)
60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)
Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)
[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

9. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)
짤툰

10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?
40

## 11~15 (*12, 15 dt-dt=Timedelta)

In [5]:
# 데이터 출처 :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(참고, 데이터 수정)
# 데이터 설명 : 유튜브 “공범” 컨텐츠 동영상 정보 ( 10분 간격 수집)
DataUrl2_1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv' # (비디오 정보)
DataUrl2_2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv' # (참가자 채널 정보)
video = pd.read_csv(DataUrl2_1)
channel = pd.read_csv(DataUrl2_2)
display(video)
display(channel)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
...,...,...,...,...,...,...,...,...
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
...,...,...,...,...,...,...
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [45]:
data15 = video.loc[video['videoname'].str.contains('EP1')].sort_values(by='ct').reset_index(drop=True)
data15['time_gap'] = data15['ct'].diff()
data15

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_gap
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1,NaT
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1,0 days 00:09:59
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1,0 days 00:10:01
...,...,...,...,...,...,...,...,...,...
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1,0 days 00:10:00
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1,0 days 00:09:59
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,0 days 00:10:01

In [67]:
print(type(pd.to_datetime('2021-01-03 15:00:00')))
x = pd.to_datetime('2021-01-03 15:00:00') - pd.to_datetime('2021-01-03 14:00:00')
print(x, type(x))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
0 days 01:00:00 <class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [73]:
import datetime
data15 = video.loc[video['videoname'].str.contains('EP1')].sort_values(by='ct')
data15['time_gap'] = data15['ct'].diff()
data15_id = data15.loc[(data15['time_gap'] <= datetime.timedelta(minutes=5)) | (data15['time_gap'] >= datetime.timedelta(minutes=20))].index.tolist()
d15_temp = []
for idx in data15_id:
    idm, idp = idx -1, idx + 1
    if idm not in data15_id:
        d15_temp.append(idm)
    if idp not in data15_id:
        d15_temp.append(idp)
data15_id += d15_temp
data15_id.sort()
display(data15.iloc[data15_id, :])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_gap
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,0 days 00:10:01
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 14:21:34
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1,0 days 00:10:00
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,0 days 00:30:01
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1,0 days 00:10:00

In [74]:
print("11. 각 데이터의 'ct'컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라")
video['ct'] = pd.to_datetime(video['ct'])
channel['ct'] = pd.to_datetime(channel['ct'])
print("video['ct']:", video['ct'].dtype, "\nchannel['ct']:", channel['ct'].dtype)
display(video.groupby('videoname', as_index=False).size())

print("\n12. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라")
display(video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']])

print("\n13. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라")
display(channel.loc[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']])

print("\n14. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라")
data14a = channel.loc[channel['ct'] >= pd.to_datetime('2021-10-03 03:00:00')].drop_duplicates('channelname', keep='first').sort_values(by='channelname').reset_index(drop=True)
data14b = channel.loc[channel['ct'] >= pd.to_datetime('2021-11-01 15:00:00')].drop_duplicates('channelname', keep='first').sort_values(by='channelname').reset_index(drop=True)
data14a = data14a.loc[:, ['channelname', 'subcnt']]
data14b = data14b.loc[:, ['channelname', 'subcnt']]
data14a.columns = ['channelname', 'subcnt_bf']
data14b.columns = ['channelname', 'subcnt_af']
data14c = pd.merge(data14a, data14b, how='inner')
data14c['subcnt_change'] = data14c['subcnt_af'] - data14c['subcnt_bf']
display(data14c.loc[:, ['channelname', 'subcnt_change']])

print("\n15. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.\
      공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라")
import datetime

data15 = video.loc[video['videoname'].str.contains('EP1')].sort_values(by='ct')
data15['time_gap'] = data15['ct'].diff()
data15_id = data15.loc[(data15['time_gap'] <= datetime.timedelta(minutes=5)) | (data15['time_gap'] >= datetime.timedelta(minutes=20))].index.tolist()
d15_temp = []
for idx in data15_id:
    idm, idp = idx -1, idx + 1
    if idm not in data15_id:
        d15_temp.append(idm)
    if idp not in data15_id:
        d15_temp.append(idp)
data15_id += d15_temp
data15_id.sort()
display(data15.iloc[data15_id, :])

11. 각 데이터의 'ct'컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라
video['ct']: datetime64[ns]
channel['ct']: datetime64[ns]

   videoname  size
0     공범 EP1  3492
1     공범 EP2  3204
2     공범 EP3  2568
..       ...   ...
5     공범 EP6  1274
6     공범 EP7   555
7     공범 EP8   266

[8 rows x 2 columns]

12. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
...        ...       ...                 ...
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

[8 rows x 3 columns]

13. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

        channelname   subcnt
393          논리왕 전기   922000
266      츄정ChuJeong   322000
139           야전삽짱재   257000
...             ...      ...
12              꽈뚜룹  1330000
1276  Balming Tiger    54300
1155  곽토리 kwak tori   471000

[11 rows x 2 columns]

14. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

      channelname  subcnt_change
0   Balming Tiger           2500
1   곽토리 kwak tori          -2000
2      김농밀의 농밀한 삶           1540
..            ...            ...
8             조나단          12000
9      츄정ChuJeong           1000
10        형사!탐정되다          10300

[11 rows x 2 columns]

15. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.      공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_gap
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,0 days 00:10:01
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 14:21:34
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1,0 days 00:10:00
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,0 days 00:30:01
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1,0 days 00:10:00

## 16~20 (*20 중복인 데이터 찾기)

In [105]:
print("16. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라")
data16 = video.sort_values(by='ct').drop_duplicates('videoname', keep='first')[['ct', 'videoname']]
data16['ct'] = data16['ct'].dt.strftime("%Y-%m-%d")
display(data16)

print("\n17. '공범' 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다.\
      공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라")
display(video.loc[video['ct'].dt.hour == 21].drop_duplicates('videoname', keep='first').sort_values('viewcnt', ascending=False)[['viewcnt', 'ct', 'videoname']])

print("\n18. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고\
      videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라")
video['ratio'] = video['dislikecnt'] / video['likecnt']
display(video.sort_values(by='ct', ascending=True).drop_duplicates('videoname', keep='last').sort_values(by='ratio', ascending=True)[['videoname', 'ratio']])

print("\n19. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오")
data19a = video.loc[video['ct'] >= pd.to_datetime('2021-11-01 00:00:00')].sort_values(by='ct').drop_duplicates('videoname', keep='first').sort_values(by='videoname')[['videoname', 'viewcnt']]
data19b = video.loc[video['ct'] <= pd.to_datetime('2021-11-01 15:00:00')].sort_values(by='ct').drop_duplicates('videoname', keep='last').sort_values(by='videoname')[['videoname', 'viewcnt']]
data19a.columns = ['videoname', 'viewcnt_bf']
data19b.columns = ['videoname', 'viewcnt_af']
data19c = pd.merge(data19a, data19b, how='inner')
data19c['viewcnt_change'] = data19c['viewcnt_af'] - data19c['viewcnt_bf']
display(data19c[['videoname', 'viewcnt_change']])
# def check(x):
#     result = max(x) - min(x)
#     return result
# answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)

print("\n20. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라")
display(video.loc[video.index.isin(set(video.index) - set(video.drop_duplicates().index))][['ct', 'videoname']])

16. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

               ct videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
...           ...       ...
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

[8 rows x 2 columns]

17. '공범' 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다.      공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

       viewcnt                  ct videoname
14945   264029 2021-10-30 21:00:08    공범 EP8
13117   252032 2021-10-28 21:00:04    공범 EP7
9275    217674 2021-10-16 21:00:04    공범 EP4
...        ...                 ...       ...
3507    148144 2021-10-09 21:00:03    공범 EP2
6707    147183 2021-10-14 21:00:04    공범 EP3
21      117340 2021-10-07 21:00:03    공범 EP1

[8 rows x 3 columns]

18. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고      videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
...         ...       ...
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

[8 rows x 2 columns]

19. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

   videoname  viewcnt_change
0     공범 EP1           13298
1     공범 EP2           10300
2     공범 EP3            9927
..       ...             ...
5     공범 EP6           14141
6     공범 EP7           26949
7     공범 EP8           89147

[8 rows x 2 columns]

20. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

                      ct videoname
722  2021-10-13 09:41:37    공범 EP1
3927 2021-10-13 09:41:37    공범 EP2